@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* Base */
  --sidebar-width: 320px;
  --bg-color: rgb(25, 30, 35);
  --text-color: rgb(255, 255, 255);
  --font-size: 17px;
  --font-family: 'Tahoma';

  --panel-bg-color: rgb(30, 35, 40);

  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
}